<article class="mlr-auto mt-40 Card__container" data-js="card">
  <h2>Question:</h2>
  <button data-js="button-bookmark" class="button__bookmark">
    <img data-js="button-image" src="#" alt="" width="30" height="30" />
  </button>
  <p>text question</p>
  <button class="button--show-answer mlr-auto" data-js="show-answer">
    show answer
  </button>
  <p class="Card__answer-hide" data-js="hide-text">text answer</p>
  <ul class="flex flex--space-around pl-0 Card__list">
    <li class="Card__tag">tag 1</li>
    <li class="Card__tag">tag 2</li>
    <li class="Card__tag">tag 3</li>
    <li class="Card__tag">tag 4</li>
  </ul>
</article>
