<nav class="Nav__container" data-js="navigation">
  <button class="Nav__icon" data-nav="home">
    <img
      class="Nav__picture"
      src="../images/home-solid.svg"
      alt=""
      width="40"
      height="40"
    />
  </button>
  <button class="Nav__icon" data-nav="bookmark">
    <img
      class="Nav__picture"
      src="../images/bookmark-regular.svg"
      alt=""
      width="40"
      height="40"
    />
  </button>
  <button class="Nav__icon" data-nav="create">
    <img
      class="Nav__picture"
      src="../images/align-center-solid.svg"
      alt=""
      width="40"
      height="40"
    />
  </button>
  <button class="Nav__icon Nav__icon--active" data-nav="profile">
    <img
      class="Nav__picture"
      src="../images/user-circle-solid.svg"
      alt=""
      width="40"
      height="40"
    />
  </button>
</nav>
