<header>
  <h1>PROFILE</h1>
</header>
<main class=".App-grid__scrollarea h-100vh w-80 mlr-auto">
  <figure class="Profile-content__user mlr-0">
    <img
      class="Profile-content__profile-picture"
      src="https://source.unsplash.com/random/300x300"
      alt="profile picture"
      width="150"
      height="150"
    />
    <figcaption class="Profile-content__profile-name">Name</figcaption>
  </figure>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quam facilis
    quas vel iure nobis adipisci accusantium modi saepe maiores. Voluptatum
    perspiciatis doloremque vitae at nemo iste repellat excepturi porro!
  </p>
  <h2 class="Profile-content--headings">skills</h2>
  <ul class="Profile-content__list">
    <li class="Profile-content__tag">tag1</li>
    <li class="Profile-content__tag">tag2</li>
    <li class="Profile-content__tag">tag3</li>
    <li class="Profile-content__tag">tag3</li>
  </ul>
  <button class="Profile-content--logout mlr-auto">LOGOUT</button>
</main>
