<article class="mlr-auto mt-40 card__art">
  <h2>Question:</h2>
  <button class="card--bookmark">
    <img src="#" alt="" width="30" height="30" />
  </button>
  <p>text question</p>
  <details>
    <summary class="card__show-answer">show answer</summary>
    <p>text answer</p>
  </details>
  <ul class="flex flex--space-around pl-0 card__list">
    <li class="card__tag">tag 1</li>
    <li class="card__tag">tag 2</li>
    <li class="card__tag">tag 3</li>
    <li class="card__tag">tag 4</li>
  </ul>
</article>
