.card__container {
  border: 1px solid black;
  width: 80%;
  padding: 0 10px 10px 10px;
  position: relative;
  background-color: var(--color-light-gray);
}

.card__container:last-child {
  margin-bottom: 20px;
}

.card--bookmark {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: var(--color-slightgray);
}

.card__show-answer {
  cursor: pointer;
  list-style: none;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 3px 9px 3px 9px;
  width: fit-content;
  background-color: var(--color-slightgray);
}

.card__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
}

.card__tag {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  background: var(--color-slightgray);
}
