.form__container {
  display: grid;
  grid-template-areas: 1 9;
}

.form__label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}

.form__input {
  background-color: var(--color-light-gray);
  width: 80%;
}

.form--submit {
  width: fit-content;
  font-size: 1.3em;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--color-slightgray);
  cursor: pointer;
  margin-top: 20px;
}

.form--counter {
  color: gray;
  margin-top: 5px;
}
