.form__label {
  display: block;
}

.form__input {
  background-color: var(--color-light-gray);
  width: 80%;
}

.form__input--block {
  display: block;
}

.form--submit {
  display: block;
  width: fit-content;
  font-size: 1.3em;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--color-slightgray);
  cursor: pointer;
}
