.nav__container {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.nav__icon {
  border: 1px solid black;
  position: relative;
}

.nav__picture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
