<nav class="h-48 grid grid__cols-4 nav__container">
  <button class="nav__icon" data-js="" href="#">
    <img class="nav__picture" src="#" alt="" width="40" height="40" />
  </button>
  <button class="nav__icon" href="#">
    <img class="nav__picture" src="#" alt="" width="40" height="40" />
  </button>
  <button class="nav__icon" href="#">
    <img class="nav__picture" src="#" alt="" width="40" height="40" />
  </button>
  <button class="nav__icon" href="#">
    <img class="nav__picture" src="#" alt="" width="40" height="40" />
  </button>
</nav>
