:root {
  --color-light-gray: #d3d3d3;
  --color-bright-gray: #d3d3d352;
  --color-dimgray: #696969;
  --color-satured-black: #010b13;
  --color-slightgray: #708090;

  --color-sharon: rgb(187, 102, 91);
}
