.m-0 {
  margin: 0;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-40 {
  margin-top: 40px !important;
}

.pl-0 {
  padding-left: 0;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.bg-blue {
  background-color: skyblue;
}

.bg-coral {
  background-color: coral;
}

.bg-hotpink {
  background-color: hotpink;
}

.flex {
  display: flex;
}

.flex--space-around {
  justify-content: space-around;
}
